.facts {
    background: url(../img/facts_back.jpg) center center no-repeat;
    background-size: cover;
    color: #f5f5f5;
    padding-top: 70px;
    padding-bottom: 70px;
}

.figures {
    background-color: rgba(107, 104, 110, 0.71);
    padding: 32px;
}

    .figures__number {
        font-size: 20px;
        font-weight: bold;
    }