.footer {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #2c3033;
    color: #a5a5a5;
}

    .main__footer {
        color: #ffffff;
        margin-bottom: 20px;
    }

    .menu__footer {
        list-style-type: none;
        padding-left: 0;
    }

    .feedback__footer {
        padding-right: 60px;
    }

        .input__feedback__footer {
            width: 100%;
            border: 0;
            outline: 0;
            background: transparent;
            border-bottom: 1px solid #a5a5a5;
        }

        .input__feedback__footer::placeholder {
            text-transform: uppercase;
        }

    .credits__footer {
        color: #ffffff;
        display: flex;
        justify-content: space-between;
    }