.footer {
    padding-top: 70px;
    padding-bottom: 20px;
    background-color: #2c3033;
    color: #a5a5a5;
}

    .footer__main {
        color: #fff;
        margin-bottom: 20px;
    }

    .footer__menu {
        list-style-type: none;
        padding-left: 0;
    }
