.header {
    text-align: center;
    margin: 80px 0;
}

    .clients__header {
        margin-bottom: 0;
    }

    .portfolio__header {
        margin-bottom: 0;
    }

    .citation__header {
        margin-bottom: 15px;
    }

    .facts__header{
        margin-bottom: 120px;
    }