.header {
    text-align: center;
}

    .clients__header {
        margin-bottom: 0;
    }

    .portfolio__header {
        margin-bottom: 0;
    }

    .citation__header {
        margin-bottom: 15px;
    }

    .facts__header {
        margin-bottom: 120px;
    }

    .whowhy_header {
        margin-bottom: 20px;
    }