.img {
  display: inline-block;
  margin-bottom: 20px;
}

    .clients_img {
        width: 120px;
        height: 120px;
        background: url(../img/hipst_tri.png) no-repeat;
        margin-left: 10px;
        margin-right: 10px;
        background-size: cover;
    }

    .portfolio_slides_img {
        background: url(../img/show.png) no-repeat;
        background-size: cover;
        width: 500px;
        height: 314px;
        margin: 0 0 0 0;
    }

    .team__member__img() {
        background-size: contain;
        background-position: center;
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
    }

        .team__member__img1 {
            background: url(../img/member1.png) no-repeat;
            .team__member__img;
        }

        .team__member__img2 {
            background: url(../img/member2.png) no-repeat;
            .team__member__img;
        }

        .team__member__img3 {
            background: url(../img/member3.png) no-repeat;
            .team__member__img;
        }

        .team__member__img4 {
            background: url(../img/member4.png) no-repeat;
            .team__member__img;
        }