.img {
  display: inline-block;
  margin-bottom: 20px;
}

    .person-card__img {
        display: inline-block;
        width: @articles__avatar_size;
        height: @articles__avatar_size;
        background: url(../img/annie.png) no-repeat;
        background-size: contain;
        border-radius: @articles__avatar_size/2;
    }

    .clients__img {
        width: 120px;
        height: 120px;
        background: url(../img/hipst_tri.png) no-repeat;
        margin-left: 10px;
        margin-right: 10px;
        background-size: cover;
    }

    .comment__img {
        width: @comment__img_size;
        height: @comment__img_size;
        background: url(../img/comment_face.jpg) center center no-repeat;
        background-size: cover;
        border-radius: @comment__img_size/2;
        border: 2px solid black;
        margin-top: 40px;
    }

    .portfolio__img {
        background: url(../img/show.png) no-repeat;
        background-size: cover;
        width: 500px;
        height: 314px;
        margin: 0;
    }

    .news__img {
        background-size: cover;
        width: 480px;
        height: 340px;
        margin: auto;
    }

    .team-member__img {
        width: 120px;
        height: 120px;
        margin-bottom: 10px;
    }
