@import "variables";

.link {
    cursor: pointer;
    color: @color-text;

    &:hover {
        color: @color-text;
    }
}


    .footer__link {
        font-size: 14px;
        line-height: 1.75;
        color: inherit;
        display: block;
    }

    .credits__link {
        font-size: 14px;
        line-height: 1.75;
        color: inherit;
        margin-left: 10px;
    }
