.news {
    margin-top: 60px;
}

    .news__row {
        margin-bottom: 60px;
    }

    .news__article {
        display: flex;
        text-align: center;
        align-items: center;
        padding-left: 90px;
        padding-right: 90px;
    }


.other-news {
    padding-bottom: 60px;
    padding-top: 60px;
}

    .other-news__preview {
        display: flex;
        align-items: center;
    }

    .other-news__vline {
        height: 70px;
        width: 8px;
        background-color: #161616;
        margin-right: 20px;
    }