.news{
    margin-top: 60px;
}

    .news__other{
        padding-bottom: 60px;
        padding-top: 60px;
    }

        .news__other__block{
            display: flex;
            align-items: center;
        }

            .news__other__block__valign{
                height: 70px;
                width: 8px;
                background-color: #161616;
                margin-right: 20px;
            }

    .news__row{
        margin-bottom: 60px;
    }

        .news__row__block{
            display: flex;
            text-align: center;
            align-items: center;
            padding-left: 90px;
            padding-right: 90px;
        }
